<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>привет, это проджект эурека</h1>
    {% if user.is_authenticated %}
    <ul class="nav justify-content-end">
        <li><a href="{% url 'profile' %}" class="nav-link">Профиль</a></li>
       <li><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
    </ul>
    <a href="{% url 'new_idea' %}" class="btn btn-success">Добавить идею</a>
    <div class="container">
        {% for idea in ideas %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{idea.name}}</h5>
                <p class="card-text">{{idea.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <a class="btn btn-secondary" href="{% url 'login' %}">Вход</a>
    <a class="btn btn-primary" href="{% url 'registration' %}">Регистрация</a>
    {% endif %}
</body>
</html>